
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		/>
		<title>URL Shortner</title>
	</head>
	<body>
		<div class="container">
			<h1>URL Shortner</h1>
			<form action="/shorten" method="POST" class="my-4 form-inline">
				<label for="url" class="sr-only">URL</label>
				<input
					required
					placeholder="URL"
					type="url"
					name="url"
					id="url"
					class="form-control col mr-2"
				/>
				<button 
					class="btn btn-success" type="submit">shorten it!</button>
			</form>
			<p>Total shortened: <%= total %></p>
			<table class="d-flex flex-column align-items-center table table-striped table-responsive">
				<thead>
					<tr>
						<th>Full URL</th>
						<th>Short URL</th>
						<th>Clicks</th>
					</tr>
				</thead>
				<tbody>
					<% shortUrls.forEach(shortUrl => { %>
					<tr>
						<td><a href="<%= shortUrl.originalUrl %>" target="_blank"><%= shortUrl.originalUrl %></a></td>
						<td><a href="<%= shortUrl.shortUrl %>" target="_blank"><%= shortUrl.shortUrl %></a></td>
						<td><%= shortUrl.clicks %></td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</body>
</html>